body{
  font-size: 18px;
  line-height: 1.3157894737;
  color: $color__text;
  letter-spacing: -.006em;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-font-kerning: normal;
  font-kerning: normal;
  -webkit-font-variant-ligatures: common-ligatures;
  font-variant-ligatures: common-ligatures;
  font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern";
  -moz-font-feature-settings: "kern=1";

  > svg{
      position: absolute;
      width: 0;
      height: 0;
  }
}

svg:not(:root){
  overflow: hidden;
}

img:not([src]) {
  visibility: hidden;
}

.fbx{
  @include flexbox();

  &.fbx-csb{
      justify-content: space-between;
      align-items: center;
  }

  &.fbx-sb{
      justify-content: space-between;
  }

  &.fbx-c{
      align-items: center;
  }

  &.fbx-split{
      >div{
          @include flex(0 0 50%);
      }
  }
}

.cf{
  @include clearfix();
}

.site{
  overflow: hidden;
}

.site-content{
    padding: 25px 0;
}

// Container
.ctn{
  position: relative;
  z-index: 20;
  padding-left: 15px;
  padding-right: 15px;

  &.auto{
    padding-left: 60px;
    padding-right: 60px;
  }

  &.max{
    margin: 0 auto;
    width: 100%;
    max-width: 1180px;
    padding-left: 15px;
    padding-right: 15px;

    @media (min-width: $screen-md-min){
      width: 88%;
    }
  }

  &.narrow{
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    padding-left: 15px;
    padding-right: 15px;

    @media (min-width: $screen-md-min){
      width: 88%;
    }
  }
}

// Content flow
.content-area{
  @include clearfix();
  position: relative;
}

.content-main{

  &.with-sidebar{
    @media (min-width: $screen-md-min){
      float: left;
      padding-right: 324px;
      width: 100%;
    }
  }
}

.content-aside{

  @media (min-width: $screen-md-min){
    float: right;
    margin-left: -300px;
    width: 300px;
  }
}