@import "../mixins";
@import "../vars";

.homp{
    padding: 50px 0;
    background: $color__eve;
    color: #fff;
}

.homp__title{
    color: inherit;
    font-size: 50px;
}

.homp__title-sub{
    font-size: 30px;
    margin: 8px 0 0 0;
}

.homp__desc{
    font-size: 20px;
}