.btn{
  display: inline-block;
  padding: 12px 22px;
  text-decoration: none;
  color: $color__dark;
  font-weight: $dffregular;
  font-size: 16px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  border: 2px solid lighten( $color__dark, 80% );
  background: lighten( $color__dark, 80% );

  @media (min-width: $screen-md-min){
    border: 2px solid transparent;
    background: transparent;
  }

  &.dark{
    color: #fff;
    border-color: $color__dark;
    background: $color__dark;
  }

  &.primary{
    color: $color__dark;
    border-color: $color__eve;
    background: $color__eve;
  }

  &.small{
    padding: 6px 12px;
  }
}

a{
  color: $color__eve;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: underline;
  text-decoration-thickness: max(1px, 0.0625rem);
  text-underline-offset: 0.1em;

  &:hover{
    color: #003078;
  }

  &:active {
    color: #0b0c0c;
  }

  &:active {
    color: #0b0c0c;
  }

  &:focus {
    outline: 3px solid transparent;
    color: #0b0c0c;
    background-color: #fd0;
    box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
    text-decoration: none;
  }
}